.loading-spinner {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
  }
  
  .logo--splash {
    animation: scale 1300ms linear infinite ;
    width: 50%;
    max-width: 300px;
    /* max-height: 350px; */
    border-radius: 7px;
    overflow: hidden;
  }
  

  
.about--container .logo{
    display: block;
    width: 65%;
    max-width: 300px;
    min-width: 250px;
    margin: 10px auto;
}

.about--container .title,.about--container .copyright, .about--container .author {
    padding: 7px 0;
    text-align: center;
    font-size: 0.7rem;
}

.pages {
    padding-top: 171px;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    min-width: 270px;
    padding: 7px 49px 27px 21px;
}

.section.border {
    border-right: 2px solid #1eb153;
}

.universities--container a{
    display: inline-flex;
    align-items: center;
    min-width: 170px;
    padding: 0 0 0 35px;
    margin: 21px 0 0;
    font-size: 1.3rem;
    border-radius: 21px;
    transition: background 400ms;
}

.universities--container a:hover{
    background-color: #1eb153;
    color: #fff;
}

.universities--container mat-icon, .universities--container img {
    min-width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 21px;
    background-color: #1eb153;
    color: #fff;
    border-radius: 50%;
}
.lessons--container a {
    display: block;
    text-align: center;
    padding: 21px;
    margin: 14px 0 0;
    font-size: 1.3rem;
    transition: background 400ms;
}

@media only screen and (max-width: 557px) {
    .section {
        width: initial;
        margin: auto;
        padding: 7px 7px 27px 21px;
    }

    .section.border{
        border-right:none;
    }
    .universities--container a{
        width: auto;
    }
}

 
  /* Loading Animation */
  @keyframes scale {
    100% {
        transform: scale(1.2);
    }
  }