.user--content  {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 21px;
    margin: 21px auto;
}

.user--content  > div {
    width: 30%;
    min-width: 270px;
    height: 320px;
    border: 1px solid #25D366;
    border-radius: 8px;
    padding: 21px;
    text-align: center;
}

@media only screen and (max-width: 971px) {
    .user--content  {
        flex-direction: column;
    }

    .user--content  > div {
        width: 95%;
        min-width: 250px;
        margin: 7px auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}