<div class="row not-founded">
    <div class="col-md-9">
        <h1>ناسف لم نتمكن من ايجاد ماتبحث عنه</h1>
        <p>يمكنك الاطلاع على هذة الصفحات ربما تساعدك فى الوصول الى ماتبحث عنه</p>
        <ul class="list-unstyled">
            <li><a routerLink="/home">صفحة البداية</a></li>
            <li><a routerLink="/all-courses">الصفحة الرئيسية</a></li>
            <li><a routerLink="/all-courses">صفحة الشروحات</a></li>
        </ul>
    </div>
    <div class="col-3">
        <img src="./assets/images/404.gif" class="img-fluid" alt="">
    </div>
</div>


<app-test></app-test>