
.loading-spinner {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.spinner {
    animation: rotate 1s linear infinite;
    width: 50px;
    height: 50px;
}

.path {
    stroke: #007bff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
.course {
    padding: 171px 0 49px;
    width: 95%;
    min-height: 450px;
    margin: 7px auto; 
}

.course--name {
    position: relative;
    margin-bottom: 49px;
    font-family: Lalezar; 
    font-size: 2.1rem;
    color: #1eb153;
}
.course--name::after {
    content: "";
    width: 85%;
    height: 2px;
    background-color: #1eb153;
    position: absolute;
    left: 0;
    top: 50%;
}

.container {
    width: 95%;
    margin: auto;
    max-width:950px;
    min-width: 280px;
}
.private-link{
    display: inline-block;
    padding: 10px 1.2rem;
    margin: 1.2rem;
    font-size: 1.7rem;
    text-align: center;
    background-color: #1eb153;
    color: #fff;
    box-shadow: 1px 1px 3px #ddd;
    z-index: 9;
}
.chapter,.comments--continer {
    width: 85%;
    min-width: 270px;
    margin: 0 auto;
}

mat-expansion-panel-header {
    height: 75px;
    font-weight: 600;
    font-family: foda;
    font-size: 1.7rem;
    border-bottom: 1px solid #ddd;
}
mat-panel-title {
    color: #3498db;

}

.lesson--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    border-bottom: 1px solid #ddd;
}
.lesson--container:first-of-type{
    margin-top: 21px;
}
.lesson--container:last-of-type{
    border-bottom: transparent;
}
.lesson--container >div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
mat-icon {
    display: block;
    font-size: 21px;
    font-weight: 500;
}
.lesson--name {
    padding-right: 7px;
    font-size: 1.2rem;
    font-family: IBMPlexSansArabic;
    font-weight: 500;
}

.comments-address {
    font-size: 2.1rem;
    padding: 49px 0 21px;
    text-align: center;
    color: #1eb153;
    font-family: foda;
}

.adding--new-comment {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1eb153;
    margin: 21px auto;
    padding: 21px 14px!important;
}
.adding--new-comment button {
    height: 57px;
    margin: 7px auto;
    padding:7px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-color: #1eb153; 
    cursor: pointer;
}

.comments--continer mat-form-field{
    width: 80%;
    margin:  auto;
}
.comment-card {
    width: 100%;
    height: 142px;
    margin: 14px auto;
  }
  .student--name {
    padding: 7px 21px 14px;
    border-bottom: 1px solid #eee;
  }

  .comment-title {
    padding: 14px 7px;
  }
  
  .comments-limit {
    max-height: 470px;
    overflow-y: hidden;
  }

  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{
    margin-top: 9px!important;
  }

@media only screen and (max-width: 571px) {
    .adding--new-comment {
        flex-direction: column;
        margin: auto;
    }
    .adding--new-comment button {
        width: 70%;
        margin: 0 auto;
    }
    .comments--continer mat-form-field{
        width: 100%;
        margin:  auto;
    }
}


/* Loading Animation */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}