<div class="course">
  <div *ngIf="show" class="loading-spinner">
    <svg class="spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
    </svg>
  </div>
  <div class="container">
    <h2 class="course--name">{{courseName}}</h2>
    <p *ngIf="courseTelegramLink != ''" style="text-align: center; margin-bottom:21px; ">يمكنك الانضمام الى  الجروب الخاص بالمادة من هنا  
      <a  [href]="courseTelegramLink" target="_blank" class="private-link"><i class='bx bxl-telegram'></i></a>
    </p>
    <div *ngFor=" let chapter of chapters; let i = index ">
      <div class="chapter" *ngIf="chapters[i].lessons.length > 0">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{chapter.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor=" let lesson of chapter.lessons">
              <a *ngIf="lesson.is_free"  [routerLink]="['/lesson', lesson.id]" class="lesson--container">
                <div>
                  <mat-icon>assignment</mat-icon>
                  <h2 class="lesson--name">{{lesson.name}}</h2>
                </div>
                <mat-icon *ngIf="lesson.is_free">lock_open</mat-icon>
                <i *ngIf="!lesson.is_free" class='bx bxs-lock-alt'></i>
                
              </a>
              <a *ngIf="!lesson.is_free" (click)="openMessageDialog('500','500')" [ngStyle]="{'color':'black', 'cursor':'pointer'}" class="lesson--container">
                <div>
                  <mat-icon>assignment</mat-icon>
                  <h2 class="lesson--name">{{lesson.name}}</h2>
                </div>
                <mat-icon>lock</mat-icon>
                
              </a>
            </ng-container>
            
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="comments--continer">
      <h3 class="comments-address">التعليقات </h3>
      <div class="adding--new-comment">
        <mat-form-field >
          <mat-label>اضافة تعليق جديد</mat-label>
          <textarea matInput [(ngModel)]="commentValue"></textarea>
        </mat-form-field>
        <button (click)="submitNewComment()">اضافة التعليق</button>
      </div>
      <div [ngClass]="{'comments-limit': showAllcomments}">

        <mat-card class="comment-card" *ngFor=" let comment of comments">
          <mat-card-content>
            <!-- Add your comment or review content here -->
            <h4 class="student--name">{{comment.id}}</h4>
            <div class="comment-title">
              <p>{{comment.comment}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
      <button *ngIf="comments.length > 3" class="submit" style="width: 75%;" (click)="commentsStatus()">{{showAllcommentsButton}}</button>
  </div>
</div>