.container {
 width : 95%; 
 min-width: 270px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.previw, content {
    width: 50%;
    min-width: 250px;
    margin: 21px 21px;
}

@media only screen and (max-width: 543px){
    .previw, content {
        width: 95%;
        margin: 21px auto;
    }
}