.container {
    padding-top: 149px;
 width : 95%; 
 min-width: 270px;
 min-height: 95vh;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.loading-spinner {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  
  .spinner {
    animation: rotate 1s linear infinite;
    width: 50px;
    height: 50px;
  }
  
  .path {
    stroke: #007bff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
.preview, .content {
  font-family: lalezar;
  min-width: 250px;
  margin: 21px 21px;
  justify-content: center;
}
.content h2 {
  font-family: foda;
}
.preview{
    display: flex;
}

.preview img {
    min-width: 260px;
    max-width: 350px;
    height: 450px;
}

.content h1 {
    text-align: center;
    padding: 21px 0;
}
.content h2 {
    text-align: center;
}
.content p {
  width: 75%;
  margin: auto;
  min-width: 260px;
    padding: 21px 0;
}
@media only screen and (max-width: 543px){
  .preview, content {
        width: 95%;
        margin: 21px auto;
    }

}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
  
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }