<div *ngIf="show" class="loading-spinner">
    <svg class="spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
    </svg>
  </div>
<section class="collages">
    <div class="container">
        <h1 class="collage-name">{{universityName}}</h1>
        <div class="universities">
            <ng-container  *ngFor="let college of colleges">
            <a href="#" [routerLink]="['/colleges', college.id]" class="university" *ngIf="college.name != ''">
                    <mat-icon>business_center</mat-icon>
                    <h2 class="university--name">{{college.name}}</h2>
                </a>
            </ng-container>
        </div> 
    </div>
</section>