
<div class="platform--goals">
    <div class="goals--wrapper">
        <div class="who--is-us">
            <h2 class="platform--goals-title">من نكون</h2>
            <p> منصة المختار هى منصة تعليمية انشأت عام 2021 وتعد واحدة من المنصات المتخصصة فى شرح المناهج السعودية
                لطلبة
                الجامعات بطرق مبسطة وعلى اسس علمية عالية لضمان الوصول بالطلاب الى اعلى الدرجات والحصول على A+ ,
            <p class="center">لمزيد من التفاصيل يمكنكم التواصل معنا
                <a [href]="telegramLink" target="_blank" class="center--special-link"><i
                        class='bx bxl-telegram'></i></a>
            </p>
        </div>
    </div>
</div>