    <div *ngIf="show" class="loading-spinner">
        <svg class="spinner" viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="4"></circle>
        </svg>
    </div>
    <div class="collage">
        <h2 class="collage--name">{{collegeName}}</h2>
        <div class="container">
            <ng-container *ngFor="let course of courses" class="course">
                <a href="#" *ngIf="course.name != ''" [routerLink]="['/course', course.id]" class="course">
                    <img *ngIf="course.image" class="course-image" [src]="course.image" alt="Card Image">
                    <div class="card-header">{{course.name}}</div>
                    <div class="course-data">
                        <h4><strong>المحاضر</strong>{{course.instructor_name}}</h4>
                    </div>
                    <div class="course-price">السعر : {{course.price}} ريال</div>
                </a>
            </ng-container>
        </div>
    </div>
