<div class="video-container" (mouseover)="playerControlsVisibility(true)" (mouseout)="playerControlsVisibility(false)">
    <div class="video--play--pause---icon"  [ngClass]="{'none':!isvideoNotStart}" (click)="playControlMethod()">
        <i class='bx bx-play' style="font-size: 45px;" [ngClass]="{'none': isvideoPlay}"></i>
        <!-- <i class='bx bx-pause'  style="font-size: 1.2rem;" [ngClass]="{'none': !isvideoPlay}"></i> -->
    </div>
    <video class="video-container__video" #video (timeupdate)="updateTimeDisplay()"
        (loadedmetadata)="updateTotalTime()">
        <source src="assets/video.mp4" type="video/mp4" />
    </video>
    <div class="video-container__controls" [ngClass]="{'visible': videoControlsVisible, 'fullscreen':isFullScreen}">
        <div class="playback-controls">
            <span id="current-time">{{currentTime|formatTime}}</span>
            <input id="progress-bar" type="range" min="0" max="100" step="0.1" value="0" #progress
                (input)="updateDration($event)">
            <span id="total-time">{{totalTime|formatTime}}</span>
        </div>
        <!-- <div class="progress">
            
            <div class="progress__current"></div>
        </div> -->
        <div [ngClass]="{'none':!isvideoPlay, 'flex':true}">
            <button class="control control--perv" (click)="rewind()">
                <i class='bx bx-skip-previous'></i>
            </button>            
            <button class="control control--backward" (click)="rewind()">
                <i class='bx bx-fast-forward' style="transform:rotate(180deg)"></i>
            </button>
            <button class="control control--play paused" (click)="playControlMethod()">
                <i class='bx bx-play' [ngClass]="{'none': isvideoPlay}"></i>
                <i class='bx bx-pause' [ngClass]="{'none': !isvideoPlay}"></i>
            </button>
            <!-- <button class="control control--stop">
                <i class='bx bx-stop'></i>
            </button> -->
            <button class="control control--next" (click)="rewind()">
                <i class='bx bx-skip-next'></i>
            </button>     
            
            <button class="control control--forward" (click)="forward()">
                <i class='bx bx-fast-forward'></i>
                <i class='bx bx-fast-forward'></i>
            </button>

            <button class="control control--replay" (click)="replay()">
                <i class='bx bx-sync'></i>
            </button>
            <button class="control control--volume">
                <div class="control--volume__button" (click)="toggleMute()">
                    <i class='bx bx-volume-mute' [ngClass]="{'none':!isMuted}"></i>
                    <i class='bx bx-volume-full' [ngClass]="{'none':isMuted}"></i>
                </div>
                <input class="control--volume__slider" value="1" type="range" min="0" max="1" step="0.01" #volume
                    (input)="gettingVolumeValue($event)">
            </button>
            <button class="control control--fullscreen" (click)="toggleFullscreen()">
                <i class="bx bx-expand" [ngClass]="{'none': isFullScreen}"></i>
                <i class='bx bx-collapse' [ngClass]="{'none': !isFullScreen}"></i>
            </button>
        </div>
    </div>
</div>