<header>
    <!-- related datainside heaer section -->
    <div class="header-container">
        <div class="data">
            <h1>اكاديمية المختار <br>
                متخصصون فى شرح المناهج الجامعية
            </h1>
            <button mat-raised-button (click)="openMessageDialog('500','500')">كيفية الحجز</button>
        </div>
    </div>
</header>

<!-- main -->
<main>
    <section class="collage">
        <div class="row">
            <div class="form-local">
                <h2>سجل معنا الان</h2>
                <select name="university" id="university" (change)="selectUniversity($event)">
                    <option value="0" disabled selected>اختر الجامعة</option>
                    <option *ngFor="let university of universities" [value]='university.id'>{{university.name}}</option>
                </select>

                <select name="collage" id="collage" (change)="selectCollage($event)">
                    <option value="0" disabled selected>اختر الكلية</option>
                    <option *ngFor="let collage of collages" [value]='collage.id'>{{collage.name}}</option>
                </select>

                <select name="course" id="course" (change)="selectCourse($event)">
                    <option value="0" selected disabled>المادة</option>
                    <option *ngFor="let course of courses" [value]='course.id'>{{course.name}}</option>
                </select>
                <button type="submit" class="submit" (click)="openSubscripeDialog('500','500')">إحجز الان</button>
            </div>

            <div class="cards">
                <div class="cr"></div>
                <div class="cr">
                    <h2>ليش منصة المختار</h2>

                    <div class="features--insider">
                        <p>نعمل معك خطوة بخطوة للحصول على A+,</p>
                        <p>الكورسات متاحة على المنصة وكذلك على التليجرام</p>
                        <p>الرد على كافة الاستفسارات</p>
                    </div>
                    <a [href]="links.telegram">بادر بالحجز الان</a>
                </div>
                <div class="cr" style="width: 100%; height: 25%;align-self: center; margin: 0;padding: 0;">

                    <a [href]="links.telegram"
                        style="width: 100%;height: 100%;display: flex;align-items: center; justify-content: center;margin: 0;border: 1px solid #ddd;">
                        تواصل مع المشرفين </a>
                </div>
            </div>
        </div>
    </section>

    <div class="almokhtar--special-showing">
        <div class="sign--1">
            <p class="top"> كورسات علمية </p>
            <p class="bottom">شروحات مميزة</p>
        </div>
        <a href="" class="sign--2-container" routerLink='/all-courses'>
            <div class="sign--2">
                <p class="">كورسات <br> المختار</p>
            </div>
        </a>
        <div class="sign--3">
            <p class="top">كورسات دينية </p>
            <p class="bottom">تطور مستمر</p>
        </div>
    </div>

    <app-about [telegramLink]="links.telegram"></app-about>
    <h2 class="courses-header-home special--header">زبدة الشرح</h2>
    <ng-container *ngIf="Preferred.length > 7">
        <app-swiper-courses  [slides]="Preferred"></app-swiper-courses>
    </ng-container>

    <section class="how--to-start">
        <h2>كيف تبدأ ؟</h2>
        <div class="steps">
            <div class="step step--1">
                <p class="step--number">1</p>
                <img [src]="'assets/images/man.webp'" alt="">
                <br>
                <h3>إنشاء حساب</h3>
                <p>قم بالتسجيل واضافة بياناتك للإنضمام للمنصة</p>
            </div>

            <div class="step step--2">
                <p class="step--number">2</p>
                <img [src]="'assets/images/studying.webp'" alt="">
                <br>
                <h3>إختيار المقرر</h3>
                <p>اختار المقرر والمحاضرة سواء كانت مدفوعة أو مجانية</p>
            </div>

            <div class="step step--3">
                <p class="step--number">3</p>
                <img [src]="'assets/images/seo.webp'" alt="">
                <h3>إنطلق!</h3>
                <p>تابع محضرات ودروس المقرر وذاكر أولاً بأول</p>
            </div>

            <div class="step step--4">
                <p class="step--number">4</p>
                <img [src]="'assets/images/discussion.webp'" alt="">
                <br>
                <h3>ناقش!</h3>
                <p>انضم لجروب المناقشة للإجابة عن أي أسئلة لديك</p>
            </div>
        </div>
    </section>
    <h2 class="special--header">اراء العملاء</h2>
    <app-swipper [slides]="reviews"></app-swipper>
</main>
<!-- still working on it -->