<div class="container">
  <div class="controller">
    <div>
      <!-- <a href="#" routerLink= "/request-new-course"> <mat-icon>control_point</mat-icon>طلب اضافة جامعة جديدة </a>  -->
    </div>
    <div class="sperator">
      <select class="form--input" id="university" name="university"
        (change)="filterCourses($event)">
        <option value="-1"  selected>عرض جميع الكورسات</option>
        <option *ngFor="let university of universities" [value]='university.id'>{{university.name}}</option>
      </select>
    </div>
  </div>
</div>