<div class="container">
    <div class="controller">
        <div></div>
        <div class="sperator">
            <mat-form-field class="form-field" required>
              <mat-label>Select</mat-label>
              <mat-select class="form--input" id="university" name="university" formControlName="university" [(ngModel)]="universityId" (change)="filterCourses($event)">
                <mat-option value="0" disabled selected>اختر الجامعة</mat-option>
                <mat-option *ngFor="let university of universities" [value]='university.id'>{{university.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>
</div>