<footer>
    <h3 style="cursor: pointer;"><a [href]="links.telegram" style="color:#fff">تواصل معنا <i class='bx bxl-telegram' ></i></a></h3> 
    <p style="text-align: center; color:#fff; padding: 21px 0;"> تابعنا على مواقع التواصل الاجتماعى </p>
    <div class="contact-us">
        <a [href]="links.facebook"><i class='bx bxl-facebook'></i></a>
        <a [href]="links.twitter"><i class='bx bxl-twitter'></i></a>
        <a [href]="links.snapchat"><i class='bx bxl-snapchat' ></i></a>
        <a [href]="links.tiktok"><i class='bx bxl-tiktok' ></i></a>
        <a [href]="links.instagram"><i class='bx bxl-instagram' ></i></a>
    </div>
    <p class="copyright">جميع الحقوق محفوظة لممنصة المختار 2021 &copy; </p>
</footer>