
footer {
    margin: 0;
    background-color: #03030f;
    height: 60vh;
    min-height: 375px;
    color: #1eb153;
    padding-top: 35px;
}

footer h3 {
    font-family: foda;
    font-size: 3em;
    text-align: center;
    padding: 21px 0;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us a{
    display: block;
    min-width: 50px;
    height: 50px;
    font-size: 1.2rem;
    margin: 10px;
    color: #1eb153;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

}
footer .copyright {
    display: block;
    padding: 28px 0 7px ;
    font-family: foda;
    text-align: center;
}