<h2 class="active--courses-header">الكورسات المتاحة للطالب </h2>
<div class="courses--container">
    <img [class]="'no--courses'" [src]="'assets/images/no-course-results.png'">
    <br>
    <p>لاتوجد اى كورسات متاحة  </p>
    <a href="#">يمكنك الذهاب الى صفحة الكورسات</a>
</div>
<!-- 
<div class="active--courses-container">
    <div class="course--wrapper">
        <h2 class="course--name">اسم الكورس</h2>
        <p class="course--date">صالح حتى : <span class="expired--date">27/12/2023</span></p>
    </div>
    <div class="course--wrapper">
        <h2 class="course--name">اسم الكورس</h2>
        <p class="course--date">صالح حتى : <span class="expired--date">27/12/2023</span></p>
    </div>
    
</div> -->