<div class="container">
    <h1 mat-dialog-title class="dialog--title">كيفية الحجز</h1>
    <div mat-dialog-content>
        سعر هذا المحتوى هو " {{price}}الريال" <br><br>
        للحجز ...
        <br>
        <p>2- تواصل معنا
            <a href="https://t.me/almokhtarcourses" target="_blank"
                style="background-color: #25d366; color:#fff; cursor: pointer; margin: auto 14px; text-align: center;padding: 7px 14px;"><i
                    class='bx bxl-telegram'></i></a>
        </p>
        <p>3- دفع قيمة الكورس على رقم الحساب الخاص بنا </p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-button class="cancel" (click)="closeLoginDialog()">فهمت</button>
    </div>
</div>