.container {
    width: 92%;
    min-width: 260px;
    margin: 21px auto;
}

.settings--header {
    margin: 49px 0 0;
    padding: 21px 0;
    color: #1eb153;
}

.settings--header span {
    display: inline-block;
    color: #ff0000;
    font-size: 1.2rem;
    padding: 7px;
}

/* Styling From */
.form {
    min-width: 250px;
    width: 60%;
    margin: auto;
    direction: rtl;
}

.form-field {
    width: 100%;
}

mat-label {
    /* font-size: 1.2rem; */
    font-family: Lalezar;
}

.form--input {
    direction: rtl;
    margin: 21px 0 0;
    /* height: 6px; */
}


.adding--new-user {
    background-color: #1eb153;
}

.cancel {
    background-color: rgb(216, 65, 65);
}


.submit--settings {
    display: block;
    border: 1px solid #fff;
    outline-color: transparent;
    padding: 7px 28px;
    font-size: 1.3rem;
    width: 95%;
    min-width: 240px;
    margin: 14px auto;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1eb153;
    color: #fff;
}

input[type='submit']:focus {
    border: initial
}

@media only screen and (max-width: 791px) {
    .form {
        width: 75%;
    }
}
@media only screen and (max-width: 576px) {
    .form{
        width: 91%;
    }
    .navbar a {
        padding: 0 1rem;
    }
}
