<header>
    <nav class="container">
        <a class="nav--logo" href="#" routerLink="splash">
            <img [src]="'assets/images/logo--name.png'" alt="almokhtar">
        </a>
        <div class="nav--menu" [ngClass]="{'none':toggleNavbar}">
            <ul class="nav--list ">
                <li><a href="#" routerLink="home"><span>الصفحة الرئيسية</span> <img src="assets/images/home.png" alt=""></a></li>
                <li><a href="#" routerLink="quran-kareem"><span>القران الكريم</span> <img src="assets/images/quran.png" alt=""></a></li>
            </ul>
        </div>
        <div class="nav--loggin" >
            <ul class="nav--loggin" *ngIf="isUserActive != 'true'">
                <li><button class="signin" mat-raised-button (click)="openLogginDialog('500','500')">تسجيل الدخول</button></li>
                <li><button class="register" mat-raised-button (click)="openRegisterDialog('500','500')">تسجيل حساب جديد</button></li>
            </ul>
    
            <ul class="user" *ngIf="isUserActive == 'true'">
                
                <li class="user">
            <img class="user" routerLink="profile" [src]="'assets/images/user.svg'" alt="almokhtar">
                                    </li>
            </ul>
        </div>
    
        <span class='menu-icon' (click)="toggleNavbar = !toggleNavbar">
            <i class='bx bx-menu'></i>        
        </span>
    </nav>
    </header>