<div class="container">
    <h1 mat-dialog-title class="dialog--title">كيفية الحجز</h1>
    <div mat-dialog-content>
        <p> هذا الفيديو عبارة تجريبي لمشاهدة المحتوى كاملا  </p>
        <p>2- تواصل معنا 
            <a href="https://t.me/almokhtarcourses" target="_blank" style="background-color: #25d366; color:#fff; cursor: pointer; margin: auto 14px; text-align: center;padding: 7px 14px;"><i class='bx bxl-telegram'></i></a>
        </p>
        <p>3- ثم تقوم بدفع قيمة الكورس على رقم الحساب الخاص بنا </p>
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-button class="cancel" (click)="closeMessageDialog()">فهمت</button>
    </div>
</div>