<div class="container" style="position:relative">

    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <div class="partner-area__single">
            <h1>{{slide.name}}</h1>
            <p>{{slide.message}}</p>
            <p class="rate">
                <i class='bx bx-star' *ngFor="let rate of getNumberArray(5 - slide.rating)"></i>
                <i class='bx bxs-star'*ngFor="let rate of getNumberArray( slide.rating)"></i>
            </p>
        </div>
        
    </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- Navigation arrows -->
    <div class="swiper-button-next swiper-button">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    <div class="swiper-button-prev swiper-button">
        <mat-icon >keyboard_arrow_left</mat-icon>

    </div>
  </div>
  
    </div>