
.container {
    width: 97%;
    margin: auto;
}

.partner-area__single {
    width: 100%;
    min-width: 270px;
    min-height: 371px;
    height: 270px;
    padding: 7px;
    margin:7px auto;
    background-color: #fff;
    box-shadow: 0 0 1px #000;
    text-align: center;
}

.partner-area__single h1, .partner-area__single p {
    padding: 21px 0;
}
.review {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.rate {
    width: 90%;
    margin: 7px auto;
    min-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate span{
    display: block;
    margin: 0 7px;
}
/* swiper */

/* swiper */
.swiper-slide {
  padding: 10px; 
  margin: 0; 
  word-break: break-word;
}
.swiper-container {
  overflow: hidden;
}
.swiper-container {
  overflow: hidden;
}
  
/* Customize the appearance of the navigation arrows */
.swiper-button-next,
.swiper-button-prev {
color: #fff;
font-size: 18px;
margin-top: -20px;
}

.swiper-button-next {
margin-right: 10px;
}

.swiper-button-prev {
left:-5px;
}
.swiper-button-next {
  right:-10px;
}
.swiper-button {
  position: absolute; 
  color: #fff;
  z-index: 99; 
  top:75%;
  background-color:#1eb153;
  padding: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}