<!-- <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true"> -->

    <!-- <swiper-slide class="single-item">
        <div class="partner-area__single">
            <img src="https://picsum.photos/500" alt="partner">
        </div>
    </swiper-slide>

    <swiper-slide class="single-item">
        <div class="partner-area__single">
            <img src="https://picsum.photos/500" alt="partner">
        </div>
    </swiper-slide>

    <swiper-slide class="single-item">
        <div class="partner-area__single">
            <img src="https://picsum.photos/500" alt="partner">
        </div>
    </swiper-slide> -->
    <!-- <swiper-slide class="single-item">
        <div class="partner-area__single">
            <h1>student name</h1>
            <p>comment</p>
            <p class="rate">
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
            </p>
        </div>
    </swiper-slide>
    <swiper-slide class="single-item">
        <div class="partner-area__single">
            <h1>student name</h1>
            <p>comment</p>
            <p class="rate">
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
            </p>
        </div>
    </swiper-slide>
    <swiper-slide class="single-item">
        <div class="partner-area__single">
            <h1>student name</h1>
            <p>comment</p>
            <p class="rate">
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
                <span>*</span>
            </p>
        </div>
    </swiper-slide>
</swiper-container>
<div class="swiper-scrollbar"></div> -->
<div class="container" style="position:relative">

    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <div class="partner-area__single">
            <h1>{{slide.name}}</h1>
            <p>{{slide.message}}</p>
            <p class="rate">
                <i class='bx bx-star' *ngFor="let rate of getNumberArray(5 - slide.rating)"></i>
                <i class='bx bxs-star'*ngFor="let rate of getNumberArray( slide.rating)"></i>
            </p>
        </div>
        
    </div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- Navigation arrows -->
    <div class="swiper-button-next" style="position: absolute; color: #333;z-index: 99; top:50%">
        <!-- <i class='bx bxs-star'></i> -->
    </div>
    <div class="swiper-button-prev"style="position: absolute; color: #333;z-index: 99;left:10px; top:50%"></div>
  </div>
  
    </div>