<div class="platform--goals">
    <div class="content">
        <h2 class="platform--goals-title">من نكون</h2>
        <p>ان منصة المختار هى منصة تعليمية  انشأت عام 2021 وتعد واحدة من المنصات المتخصصة فى شرح المناهج السعودية لطلبة الجامعات بطرق مبسطة وعلى اسس علمية عالية لضمان الوصول بالطلاب الى اعلى الدرجات والحصول على A+ </p>
        <h2 class="goals--address-partial">شعارنا</h2>
        <h3 class="goals-special-title">مع المختار هتجيك ال A+ من غير ما تحتار</h3>
        <h2 class="goals--address-partial">اهدافنا</h2>
        <ul>
            <li> الهدف الاول  من الاهداف التى تشير اليها المنصة</li>
            <li>الهدف الثاني</li>
            <li>الهدف الثالث</li>
        </ul>
        <p>لمزيد من التفاصيل يمكنكم التواصل معنا 
            <a [href]="telegramLink" target="_blank" style="background-color: #25d366; color:#fff; cursor: pointer; margin: auto 14px; text-align: center;padding: 7px 14px;"><i class='bx bxl-telegram'></i></a>
        </p>
    </div>
    <img [src]="'assets/images/contactsCalender.jpg'" alt="Image Description">
</div>