<h4>مع المختار هتجيك ال A+ من غير ماتحتار</h4>
<div class="platform--goals">
    <div class="goals--wrapper">
        <div class="our--goals">
            <h2 class="platform--goals-title">اهدافنا</h2>
            <ul>
                <li>العمل على تقديم شروحات متطورة وقوية باسعار تنافسية تناسب جميع الطلاب</li>
                <li>نعمل على الوصول بمستويات الطلاب الى التفوق والحصول على درجة ال A+ </li>
                <li>توفير جميع متطلبات الطالب الجامعى من دورات تعليمية لتناسب جميع التخصصات المطلوبة</li>
            </ul>
        </div>
    </div>
</div>

